<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fr.mediafile">

    <application>
        <activity android:name=".imageselect.activity.VideoSelectActivity"/>
        <activity android:name=".imageselect.MediaSelectActivity" />
        <activity
            android:name=".imageselect.activity.ImageSelectActivity"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>